*{
    margin: 0;
    padding: 0;
}

body{
	background: transparent;
}


#optionsBody{
	
	font-family: 'Ubuntu Mono' ;
	
	font-size:100%;
	
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);

}


#optionsFrame{
	position:absolute;
	height:100%;
	width:100%;
	z-index:10;
	
	background: #aaaaaa;
	height:100%;
	width:100%, auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;    
    opacity: 0.8;
}


#optionsContainer{
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	position:absolute;
	top:50%;
	left:50%;
}

#themeForm{
	padding-left:20%;
}

#submitButton{
	
	background-color: transparent;
	
	border:0px;
	
	padding:5px;
	
	font-family: 'Ubuntu Mono' ;
	
	font-size:200%;
	
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
	
	box-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}


#buttonContainer{
	
	
}

#button{
	
    
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;  
	left: 50%;
}

.llama{
	pointer-events:none; /*Not all browsers understand this... Perhaps convert to js.*/
	position:fixed;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

