*{
    margin: 0;
    padding: 0;
}

body{
	background: transparent;
}

#button{
	position:fixed;
	left:40%;
	top:30%;
}

#llama{
	pointer-events:none; /*Not all browsers understand this... Perhaps convert to js.*/
	width:4%;
	position:fixed;
}

.llama{
	pointer-events:none; /*Not all browsers understand this... Perhaps convert to js.*/
	width:4%;
	position:fixed;
}

